.container_page{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 100vh;
    width: 100%;
    min-width: 300px;
}


side-bar{
    min-width: 250px;
    height: 100%;
    width: 20%;
}

.page{
    width: 80%;
}